practica3_soap/src/main/resources/api/Empleados.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:tns="http://www.example.org/Empleados/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  name="Empleados" 
                  targetNamespace="http://www.example.org/Empleados/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Empleados/">
      
      <xsd:complexType name="Empleado">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="nifnie" type="xsd:string" />
          <xsd:element name="nombreApellidos" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="naf" type="xsd:string" />
          <xsd:element name="iban" type="xsd:string" />
          <xsd:element name="idNivel" type="xsd:int" />
          <xsd:element name="usuario" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="valido" type="xsd:int" /> </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="nuevo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WSKey" type="xsd:string" />
            <xsd:element name="datosEmpleado" type="tns:Empleado" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nuevoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:boolean" />
            <xsd:element name="error" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="borrar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WSKey" type="xsd:string" />
            <xsd:element name="nifnie" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="borrarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:boolean" />
            <xsd:element name="error" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="modificar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WSKey" type="xsd:string" />
            <xsd:element name="datosEmpleado" type="tns:Empleado" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="modificarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:boolean" />
            <xsd:element name="error" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="consultar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WSKey" type="xsd:string" />
            <xsd:element name="nifnie" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="empleado" type="tns:Empleado" minOccurs="0" />
            <xsd:element name="error" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="nuevoRequest"><wsdl:part element="tns:nuevo" name="parameters"/></wsdl:message>
  <wsdl:message name="nuevoResponse"><wsdl:part element="tns:nuevoResponse" name="parameters"/></wsdl:message>
  <wsdl:message name="borrarRequest"><wsdl:part element="tns:borrar" name="parameters"/></wsdl:message>
  <wsdl:message name="borrarResponse"><wsdl:part element="tns:borrarResponse" name="parameters"/></wsdl:message>
  <wsdl:message name="modificarRequest"><wsdl:part element="tns:modificar" name="parameters"/></wsdl:message>
  <wsdl:message name="modificarResponse"><wsdl:part element="tns:modificarResponse" name="parameters"/></wsdl:message>
  <wsdl:message name="consultarRequest"><wsdl:part element="tns:consultar" name="parameters"/></wsdl:message>
  <wsdl:message name="consultarResponse"><wsdl:part element="tns:consultarResponse" name="parameters"/></wsdl:message>

  <wsdl:portType name="Empleados">
    <wsdl:operation name="nuevo">
      <wsdl:input message="tns:nuevoRequest"/><wsdl:output message="tns:nuevoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="borrar">
      <wsdl:input message="tns:borrarRequest"/><wsdl:output message="tns:borrarResponse"/>
    </wsdl:operation>
    <wsdl:operation name="modificar">
      <wsdl:input message="tns:modificarRequest"/><wsdl:output message="tns:modificarResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultar">
      <wsdl:input message="tns:consultarRequest"/><wsdl:output message="tns:consultarResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="EmpleadosSOAP" type="tns:Empleados">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="nuevo">
      <soap:operation soapAction="http://www.example.org/Empleados/nuevo"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrar">
      <soap:operation soapAction="http://www.example.org/Empleados/borrar"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificar">
      <soap:operation soapAction="http://www.example.org/Empleados/modificar"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar">
      <soap:operation soapAction="http://www.example.org/Empleados/consultar"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Empleados">
    <wsdl:port binding="tns:EmpleadosSOAP" name="EmpleadosSOAP">
      <soap:address location="http://localhost:8080/Practica1/services/Empleados"/>
    </wsdl:port>
  </wsdl:service>

  </wsdl:definitions>